:root {
  --navyblue: #2e2f42;
  --white: #ffffff;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.main {
}

.section {
}

/* Header */

.header {
}

.header__nav {
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header__logo-studio {
  color: var(--navyblue);
}

.menu {
}

.menu__item {
}

.menu__link {
  color: var(--navyblue);
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu__link:hover,
.menu__link:focus {
  color: var(--ocean);
}

.header__address {
  font-style: normal;
}

.header__address__list {
}

.header__address__item {
}

.header__address__link {
  color: var(--slate);
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header__address__link:hover,
.header__address__link:focus {
  color: var(--ocean);
}

/* Hero */

.section {
}

.hero {
  background-color: var(--navyblue);
}

.hero__head-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  /* font-style: normal; */
  /* font-weight: 700; */
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero__button {
  color: var(--white);
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--ocean);
}

/* Our advantages */

.advantages {
}

.advantages__head-title {
}

.advantages__list {
}

.advantages__item {
}

.advantages__title {
  color: var(--navyblue);
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages__text {
  color: var(--slate);
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* What are we doing */

.about {
}

.about__head-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  /* font-style: normal; */
  /* font-weight: 700; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.about__list {
}

.about__item {
}

.about__image {
}

/* Our Team */

.team {
  background: var(--cloud);
}

.team__head-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  /* font-style: normal; */
  /* font-weight: 700; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team__list {
}

.team__item {
  background-color: var(--white);
}

.team__image {
}

.team__title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team__text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio */

.portfolio {
}

.portfolio__head-title {
}

.portfolio-btn__list {
}

.portfolio-btn__item {
}

.portfolio-btn__button {
  color: var(--iris);
  text-align: center;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--cornflower);
  background: var(--cloud);
}

.portfolio-btn__button:hover,
.portfolio-btn__button:focus,
.portfolio-btn__button:active {
  color: var(--white);
  background: var(--ocean);
}

.portfolio-projects {
}

.portfolio-projects__item {
}

.portfolio-projects__link {
}

.portfolio-projects__image {
}

.portfolio-projects__title {
  color: var(--navyblue);
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-projects__text {
  color: var(--slate);
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: var(--navyblue);
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer__logo-studio {
  color: var(--cloud);
}

.footer__text {
  color: var(--cloud);
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}
